{% load static %}

<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-8">
                <div class="footer-info">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Find us</h2>
                    </div>
                    <address class="wow fadeInUp" data-wow-delay="0.4s">
                                   <p>B 50 Samapan Park So,<br>Bapod Jaktnaka, Whagodiya Road <br>Vadodara</p>
                              </address>
                </div>
            </div>

            <div class="col-md-3 col-sm-8">
                <div class="footer-info">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Get in Touch</h2>
                    </div>
                    <address class="wow fadeInUp" data-wow-delay="0.4s">
                                   <p>9586297636 | Another number</p>
                                   <p><a href="https://mail.google.com/">jerry.jagtap5@gmail.com</a></p>
                                   <p> </p>
                              </address>
                </div>
            </div>

            <div class="col-md-4 col-sm-8">
                <div class="footer-info footer-open-hour">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Open Hours</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <p>Monday: Closed</p>
                        <div>
                            <strong>Tuesday to Friday</strong>
                            <p>10:00 AM - 8:00 PM</p>
                        </div>
                        <div>
                            <strong>Saturday - Sunday</strong>
                            <p>11:00 AM - 10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
                    <li>
                        <a href="https://www.facebook.com/nishant.jagtap.37/" class="fa fa-facebook-square" attr="facebook icon"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/NishJagtap" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                    <li>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox" class="fa fa-google"></a>
                    </li>
                </ul>

                <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s">
                    <p><br>Copyright &copy; 2020 <br>Foodie Jerry

                        <br><br>Design: Nishant Jagtap</p>
                </div>
            </div>

        </div>
    </div>
</footer>