{% extends 'base.html' %} {% load static %} {% block content %}

<!--Menu of Cafe-->
<section id="menu" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Our Menus</h2>
                    <h4>Take Away &amp; Pick Up</h4>
                </div>
            </div>

            <!--Menu items-->
            {% if menus %} {% for menu in menus %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="menu-thumb">
                    <img class="card-img-top" src="{{ menu.photo.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="orange">{{ menu.name }}</h4>
                        <hr>
                        <div class="description">
                            <h5>{{ menu.description }}</h5>
                            <hr>
                            <div class="card-body">
                                <a href="{% url 'menu' menu.id %}" class="detail-btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="col-md-12">
                <p>No Menu Avaliable</p>
            </div>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}