{% extends 'base.html' %} {% load static %} {% block content %}

<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">

        <div class="owl-carousel owl-theme">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-8 col-sm-12">
                            <h3>Foodie Jerry &amp; Restaurant</h3>
                            <h1>Our mission is to provide an unforgettable experience</h1>
                            <a href="#team" class="section-btn btn btn-default smoothScroll">See our Special
                                        offers</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-8 col-sm-12">
                            <h3>Your Perfect Breakfast</h3>
                            <h1>The best & healthy food quality can be found here!</h1>
                            <a href="#menu" class="section-btn btn btn-default smoothScroll">Discover Menu</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-8 col-sm-12">
                            <h3>The Flovers which You won't Forget</h3>
                            <h1>Enjoy our special menus every Sunday and Friday</h1>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                        <h4>Read our story</h4>
                        <h2>We've been Making The Delicious Foods Since 1999</h2>
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <p>Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et ipsum semper molestie sed in nisi. Ut rhoncus congue lectus, rhoncus venenatis leo malesuada id.</p>
                        <p>Sed elementum vel felis sed scelerisque. In arcu diam, sollicitudin eu nibh ac, posuere tristique magna. You can use this template for your cafe or restaurant website. Please tell your friends about <a href="https://plus.google.com/+templatemo"
                                target="_parent">templatemo</a>. Thank you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                    <img src="{% static 'images/about-image.jpg' %}" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Special -->
<section id="team" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Special Offers</h2>
                    <h4>Nice &amp; Healthy</h4>
                </div>
            </div>

            <!--Special items-->
            {% if special %} {% for special in special %}
            <div class="col-md-4 col-sm-4">
                <div class="menu-thumb">
                    <img class="card-img-top" src="{{ special.photo.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="red">{{ special.name }}</h4>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <h6>{{ special.description }}</h6>
                            <hr>
                            <div class="card-body">
                                <h5 class="red">Rs: {{ special.price }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="col-md-12">
                <p>No Offer Avaliable</p>
            </div>
            {% endif %}
        </div>
</section>


<!-- MENU-->
<section id="menu" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Our Menus</h2>
                    <h4>Take Away &amp; Pick Up</h4>
                </div>
            </div>

            <!--Menu items-->
            {% if menus %} {% for menu in menus %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="menu-thumb">
                    <img class="card-img-top" src="{{ menu.photo.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="orange">{{ menu.name }}</h4>
                        <hr>
                        <div class="description">
                            <h5>{{ menu.description }}</h5>
                            <hr>
                            <div class="card-body">
                                <a href="{% url 'menu' menu.id %}" class="detail-btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="col-md-12">
                <p>No Menu Avaliable</p>
            </div>
            {% endif %}

        </div>
    </div>
</section>


<!-- TESTIMONIAL -->
<section id="testimonial" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Testimonials</h2>
                </div>
            </div>

            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum ullamcorper nulla non.</p>
                        <div class="tst-author">
                            <h4>Digital Carlson</h4>
                            <span>Pharetra quam sit amet</span>
                        </div>
                    </div>

                    <div class="item">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vestibulum orci quam.</p>
                        <div class="tst-author">
                            <h4>Johnny Stephen</h4>
                            <span>Magna nisi porta ligula</span>
                        </div>
                    </div>

                    <div class="item">
                        <p>Vivamus aliquet felis eu diam ultricies congue. Morbi porta lorem nec consectetur porta quis dui elit habitant morbi.</p>
                        <div class="tst-author">
                            <h4>Jessie White</h4>
                            <span>Vitae lacinia augue urna quis</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}